<h1 class="text-center" translate="dvr.headline"></h1>
<bitmovin></bitmovin>
<row>
    <form name="dvrVm.form" novalidate>
        <div class="col-sm-offset-3 col-sm-6">
            <formly-form
                    model="dvrVm.model"
                    fields="dvrVm.fields">
                <button type="submit"
                        class="btn btn-default"
                        ng-click="dvrVm.submit()"
                        ng-disabled="dvrVm.form.$invalid"
                        translate="dvr.form.button">
                </button>
            </formly-form>
        </div>
    </form>
</row>